<body> <!-- banner code -->
  <div class="header">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(235, 247, 253, 0.6) 0%, rgba(0,36,61,0.3) 50%), url('images/airport.jpg');">
      <div class="banner-content">
        <h1 class="animated fadeInDown">Chen</h1>
        <p class="animated fadeInDown">Discover the world safely</p>
      <div class="wrapper-checkin padded">
          <div class="text-center btn">
            <form action="" class="form-inline" class="btn-submit">
              <p class="animated fadeInUp"><input type="submit" value="pre-order" class="btn-submit"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Your features code -->
  <div class="wrapper-features padded">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <% data.features.each do |i, feature| %>
            <div class="col-xs-12 col-sm-9 col-md-6">
              <div class="features">
                <h2><%= feature.title %></h2>
                <br><br>
                <p><%= feature.description %></p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-6">
              <%= image_tag feature.image, width: "100px" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <!-- Your cards code -->
  <div class="wrapper-card padded">
    <div class="container">
      <div class="row">
        <% data.ceo.each do |owner, ceo| %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: url('<%#= image_path flat.picture %>');">
            <div class="card-category"><%#= flat.city %></div>
            <div class="card-description">
              <h2><%= ceo.owner_name %></h2>
              <p><%= ceo.summary %></p>
            </div>
            <%#= image_tag flat.owner_picture, class:"card-user avatar avatar-large" %>
            <%#= link_to "#", "flats/#{owner}.html", class: "card-link" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="wrapper-form padded">
    <div class="text-center">
      <h2>Get some news</h2>
      <form action="" class="form-inline">
        <input type="email" class="form-control"  placeholder="brice@denice.com">
        <input type="submit" value="subscribe" class="btn btn-primary">
      </form>
    </div>
  </div>
</body>
